*{
    margin: 0;
    padding: 0;
    text-align: center;
}

h1{
    background-color: #081b31;
    color: white;
    height: 80px;
    line-height: 80px;
}

.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 80px;
}

.choice{
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choice:hover{
    cursor: pointer;
    background-color: #081b31;
}

img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    margin-top: 48px;
    gap: 80px;
}

#user-score, #comp-score{
    font-size: 64px;
    
}

.msg-container{
    margin-top: 80px;
}

#msg{
    background-color: #081b31;
    color: white;
    font-size: 32px;
    display: inline;
    padding: 16px;
    border-radius: 16px;
}

#btn{
    margin-top: 20px;
    padding: 15px;
    font-size: 16px;
    background-color: #97C8EB;
    color: #001011;
    font-weight: bolder;
    border: none;
    border-radius: 20px;
}